<ion-view view-title="Telefones">
  <ion-content class="padding" ng-controller="TelephonesCtrl">
    
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="searchParam">
      </label>
    </div>

    <div class="button-bar">
      <a class="button" ng-model="button.first" ng-click="click(button.first, 'nome')" ng-class="button.first.clicked?'button-positive':'button-calm'">Nome</a>
      <a class="button" ng-model="button.second" ng-click="click(button.second,'empresa')" ng-class="button.second.clicked?'button-positive':'button-calm'">Setor</a>
      <a class="button" ng-model="button.third" ng-click="click(button.third, 'funcao')" ng-class="button.third.clicked?'button-positive':'button-calm'">Função</a>
    </div>
    <br />

    <button class="button button-block button-positive" ng-click="getTelephones(searchParam);">Buscar</button>

    <ion-list class="busHours">
      <div class="item item-divider" align="center">Telefones (Colocar estilos)</div>
      <item class="item item-icon-left" ng-repeat="(key, person) in dataTelephones track by $index"> <i class="icon ion-ios-telephone-outline"></i> [{{ person.telefone }}] {{ person.nome | uppercase}} - {{ person.empresa.nome }} - {{ person.funcao.nome }} </item>
    </ion-list>
  
  </ion-content>
</ion-view>
