<ion-view view-title="Cardápio">
  <ion-content class="padding" ng-controller="MenuCrtl">
    
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-calendar placeholder-icon"></i>
        <input type="date" placeholder="Buscar" ng-model="beginDate">    
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-calendar placeholder-icon"></i>
          <input type="date" placeholder="Buscar" ng-model="endDate" placeholder="dd-MM-yyyy" min="2016-01-01" max="2017-12-31" required>
      </label>
    </div>



    <div class="button-bar">
      <a class="button" ng-model="button.first" ng-click="click(button.first, 'prestivel')" ng-class="button.first.clicked?'button-positive':'button-calm'">Prestivel</a>
      <a class="button" ng-model="button.second" ng-click="click(button.second,'panedoro')" ng-class="button.second.clicked?'button-positive':'button-calm'">Panedoro</a>
      <a class="button" ng-model="button.third" ng-click="click(button.third, 'vermelho')" ng-class="button.third.clicked?'button-positive':'button-calm'">Vermelho</a>
      <a class="button" ng-model="button.fourth" ng-click="click(button.fourth, 'all')" ng-class="button.fourth.clicked?'button-positive':'button-calm'">Todos</a>
    </div>
    <br />

    <button class="button button-block button-positive" ng-click="getMenu(searchParam);">Buscar</button>

    <ion-list class="busHours">
      <div class="item item-divider" align="center">Cardápio (Colocar estilos)</div>
      <item class="item item-divider" ng-repeat="(key, restaurant) in dataRestaurants track by $index"> {{ restaurant.nome }} 
        <item class="item item-icon-left" ng-repeat="(key, restaurantDetail) in restaurant.cardapios track by $index"> {{ restaurantDetail.data }} 
          <item class="item item-icon-left" ng-repeat="(key, restaurantDetailItens) in restaurantDetail.itens track by $index"> <i class="icon ion-fork"></i> {{ restaurantDetailItens.nome }} </item>
        </item>
      </item>
    </ion-list>
  
  </ion-content>
</ion-view>