<ion-view view-title="Serviços">
  <ion-content class="padding" ng-controller="ServicesCtrl">
    
    <div class="list list-inset">
      <label class="item item-input"> 
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="searchParam">
      </label>
    </div>

    <div class="button-bar">
      <a class="button" ng-model="button.first" ng-click="click(button.first, 'nome')" ng-class="button.first.clicked?'button-positive':'button-outline button-positive'">Nome/Descrição</a>
      <a class="button" ng-model="button.second" ng-click="click(button.second,'categoria')" ng-class="button.second.clicked?'button-positive':'button-outline button-positive'">Categoria</a>
      <a class="button" ng-model="button.third" ng-click="click(button.third, 'localizacao')" ng-class="button.third.clicked?'button-positive':'button-outline button-positive'">Localização</a>
    </div>
    <br />

    <button class="button button-block button-positive" ng-click="getServices(searchParam);">Buscar</button>

    <ion-list class="services">
      <div class="item item-divider" align="center">Serviços (Colocar estilos)</div>
      <item class="item item-icon-left" ng-repeat="(key, service) in services track by $index"> <i class="icon ion-ios-telephone-outline"></i> {{ service.nome }} {{ service.telefone }} {{ service.email }} </item>
    </ion-list>
  
  </ion-content>
</ion-view>
